<div class="contact-homepage">
    <div class="contact-homepage-message">
        CONTACT US TO FIND MORE
    </div>
    <div class="d-flex contact-homepage-buttons-container">
        <div class="contact-homepage-buttons-container-flex contact-homepage-contact-button-container">
            <div class="contact-homepage-contact-button" routerLink="/contact">
                <div>
                    CONTACT US
                </div>
            </div>
        </div>
        <div class="vr"></div>
        <div class="contact-homepage-buttons-container-flex contact-homepage-social-buttons-container">
            <div class="contact-homepage-social-buttons">
                <a href="#"><img src="../../../assets/twitter_orange.png" alt="Twitter Altasoft"></a>
                <a href="#"><img src="../../../assets/facebook_orange.png" alt="Facebook Altasoft"></a>
                <a href="#"><img src="../../../assets/instagram_orange.png" alt="Instagram Altasoft"></a>
                <a href="#"><img src="../../../assets/linkedin_orange.png" alt="Linkedin Altasoft"></a>
            </div>
        </div>
    </div>
</div>