<mdb-navbar SideClass="custom-header navbar navbar-expand-lg navbar-dark black sticky-top" [containerInside]="false">
  <mdb-navbar-brand>
    <a routerLink="/home">
      <img src="../../../assets/brand.png" height="75" alt="Altasoft Brand">
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item {{activeHeader == 'home' ? 'active' : ''}}">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home" routerLinkActive="active">HOME</a>
      </li>
      <li class="nav-item {{activeHeader == 'about-us' ? 'active' : ''}}">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/about-us" routerLinkActive="active">ABOUT US</a>
      </li>
      <li class="nav-item {{activeHeader == 'contact' ? 'active' : ''}}">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/contact" routerLinkActive="active">CONTACT</a>
      </li>
    </ul>
  </links>
</mdb-navbar>