<!--Navbar-->
<mdb-navbar SideClass="custom-header navbar navbar-expand-lg navbar-dark black" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a href="/"> <img src="../../../assets/brand.png" height="75" alt="Altasoft Brand"> </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>CONTACT</a>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->