<div class="homeSquares">
    <div class="sidenav">
        <div class="sidenavContent">
            <div>• • • A NETWORK OF MINDS</div>
            <a href="#"><img src="../../../assets/twitter.png" alt="Twitter Altasoft"></a>
            <a href="#"><img src="../../../assets/facebook.png" alt="Facebook Altasoft"></a>
            <a href="#"><img src="../../../assets/instagram.png" alt="Instagram Altasoft"></a>
            <a href="#"><img src="../../../assets/linkedin.png" alt="Linkedin Altasoft"></a>
        </div>    
    </div>
    <div class="homeSquaresCenterText">
        GROW YOUR BUSINESS
    </div>
    <div class="homeSquaresCenterShadowText">
        GROW YOUR BUSINESS
    </div>
    <div class="homeSquaresDescriptionText">
        Altasoft believes in innovation through technology. This is why we aim to offer the best solutions tailored to our customers' needs and desires.
    </div>
</div>