<div class="homeSquares">
    <div class="sidenav">
        <div class="sidenavContent">
            <div>• • • A NETWORK OF MINDS</div>
            <a href="#"><img src="../../../assets/twitter.png" alt="Twitter Altasoft"></a>
            <a href="#"><img src="../../../assets/facebook.png" alt="Facebook Altasoft"></a>
            <a href="#"><img src="../../../assets/instagram.png" alt="Instagram Altasoft"></a>
            <a href="#"><img src="../../../assets/linkedin.png" alt="Linkedin Altasoft"></a>
        </div>    
    </div>
</div>