<div id="expertiseElement">
    <div class="expertise-title-background">
        <div class="expertise-title">
            OUR EXPERTISE
        </div>
        <div class="expertise-title expertise-title-shadow">
            OUR EXPERTISE
        </div>
    </div>
    <div class="d-flex expertise-domains-flex">
        <div id="websiteDevelopment">
            <div>
                WEBSITE DEVELOPMENT
            </div>
        </div>
        <div id="modelingTexturing">
            <div>
                3D MODELING AND TEXTURING
            </div>
        </div>
        <div id="softwareDevelopment">
            <div>
                SOFTWARE DEVELOPMENT
            </div>
        </div>
    </div>
</div>