<div id="expertiseElement">
    <div class="expertise-title-background">
        <div class="expertise-title">
            OUR EXPERTISE
        </div>
        <div class="expertise-title expertise-title-shadow">
            OUR EXPERTISE
        </div>
    </div>
    <div class="d-flex expertise-domains-flex">
        <div id="websiteDevelopment">
            <div>
                WEBSITE DEVELOPMENT
            </div>
        </div>
        <div id="modelingTexturing">
            <div>
                3D MODELING AND TEXTURING
            </div>
        </div>
        <div id="softwareDevelopment">
            <div>
                SOFTWARE DEVELOPMENT
            </div>
        </div>
    </div>
    <div class="strengths-flex-container">
        <div class="d-flex strengths-flex">
            <div>
                <div class="strengths-title">
                    INNOVATION

                </div>
                <hr>
                <div class="strengths-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit
                </div>
            </div>
            <div>
                <div class="strengths-title">
                    CREATIVITY
                </div>
                <hr>
                <div class="strengths-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit
                </div>
            </div>
            <div>
                <div class="strengths-title">
                    PASSION
                </div>
                <hr>
                <div class="strengths-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit
                </div>
            </div>
        </div>
    </div>
</div>