.expertise-title-background {
    position: relative;
    height: 175px;
}

.expertise-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: questrial;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 15px;
    user-select: none;
    color: #FFB18A;
    width: 100%;
}

.expertise-title-shadow {
    opacity: 0.05;
    font-size: 5vw;
    top: 60%;
    letter-spacing: 25px;
}

@media screen and (max-width: 992px) {
    .expertise-title {
        font-size: 3vw;
    }
    .expertise-title-shadow {
        display: none;
    }
    .expertise-domains-flex {
        flex-direction: column !important;
        align-items: center;
    }
    .expertise-domains-flex div {
        width: 100vw !important;
        height: calc(100vh - 175px - 56px) !important;
    }
    .expertise-domains-flex div div {
        font-size: 7vw !important;
    }
    .strengths-flex {
        flex-direction: column !important;
        min-height: calc(60vh - 105px) !important;
    }
    .strengths-flex div {
        min-width: 80vw;
        margin-top: 3vh;
    }
    .strengths-flex hr {
        border-width: 2px !important;
        width: 10vw !important;
    }
    .strengths-title {
        font-size: 4vw !important;
    }
    .strengths-description {
        font-size: 4vw !important;
    }
}

.expertise-domains-flex {
    flex-direction: row;
}

.expertise-domains-flex div {
    width: 33.33vw;
    height: calc(100vh - 175px - 105px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.expertise-domains-flex div div {
    position: absolute;
    top: 0;
    bottom: 15%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-family: raleway-semibold;
    font-size: 3vw;
    user-select: none;
}

#websiteDevelopment {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/websiteDevelopment.png") no-repeat center / cover;
}

#modelingTexturing {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/modelingTexturing.png") no-repeat center / cover;
}

#softwareDevelopment {
    background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url("../../../assets/softwareDevelopment.png") no-repeat center / cover;
}

.strengths-flex-container {
    background-color: black;
}

.strengths-flex {
    padding: 5vw;
    height: auto;
    min-height: calc(60vh - 105px);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.strengths-flex div {
    max-width: 16vw;
    height: auto;
}

.strengths-flex hr {
    border: 5px solid #FF7129;
    border-radius: 5px;
    width: 5vw;
    margin-left: 0;
}

.strengths-title {
    color: white;
    font-family: quicksand-semibold;
    font-size: 2vw;
    user-select: none;
    height: auto !important;
}

.strengths-description {
    color: rgba(255, 255, 255, 0.7);
    font-family: quicksand-light;
    font-size: 1.2vw;
    user-select: none;
    height: auto !important;
}