<div class="d-flex footer">
    <div class="footer-logo-section">
        <img src="../../../assets/brand.png" height="75" alt="Altasoft Brand">
        <div class="footer-about-and-contact">
            <a routerLink="/about-us"><div>ABOUT US</div></a>
            <a routerLink="/contact"><div>CONTACT</div></a>
        </div>
    </div>
    <hr>
    <div class="footer-copyright-section">
        <div class="footer-copyright">&copy; {{currentCopyrightYear}} Altasoft. All Rights Reserved</div>
        <div class="footer-privacy-terms">
            <a routerLink="/"><div>PRIVACY POLICY</div></a>
            <a routerLink="/"><div>TERMS OF SERVICE</div></a>
        </div>
    </div>
</div>