<div class="our-team">
    <div class="our-team-title">
        OUR TEAM
    </div>
    <div class="our-team-title our-team-title-shadow">
        OUR TEAM
    </div>
    <div class="our-team-flex-container">
        <div class="d-flex our-team-flex">
            <div class="d-flex team-group-flex">
                <div class="team-member-flex">
                    <img src="../../../assets/Bogdan_Vaduva.jpeg" class="img-fluid rounded-circle z-depth-3">
                    <div class="team-member-description"><div>CEO</div>Bogdan Mihăiţă Văduva</div>
                </div>
                <div class="team-member-flex">
                    <img src="../../../assets/Larisa_Chelba.png" class="img-fluid rounded-circle z-depth-3">
                    <div class="team-member-description"><div>COO</div>Larisa Alexandra Chelba</div>
                </div>
            </div>
            <div class="d-flex team-group-flex">
                <div class="team-member-flex">
                    <img src="../../../assets/Catalin_Pirvu.png" class="img-fluid rounded-circle z-depth-3">
                    <div class="team-member-description"><div>CTO</div>Cătălin Gabriel Pîrvu</div>
                </div>
                <div class="team-member-flex">
                    <img src="../../../assets/Carina_Stoica.jpg" class="img-fluid rounded-circle z-depth-3">
                    <div class="team-member-description"><div>CPO</div>Carina Gabriela Stoica</div>
                </div>
            </div>
        </div>
    </div>
</div>