.our-team {
    min-height: calc(60vh - var(--desktop-header-height));
}

.our-team-title-background {
    position: relative;
    height: 175px;
}

.our-team-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: questrial;
    font-size: 2vw;
    text-align: center;
    letter-spacing: 15px;
    user-select: none;
    color: #FFB18A;
    width: 100%;
}

.our-team-title-shadow {
    opacity: 0.05;
    font-size: 5vw;
    top: 60%;
    letter-spacing: 25px;
}

@media screen and (max-width: 992px) {
    .our-team-title {
        font-size: 3vw;
    }
    .our-team-title-shadow {
        display: none;
    }
}