.our-team {
    height: fit-content;
    padding-top: 3vh;
    position: relative;
    padding-bottom: 5vh;
}

.our-team-title {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    font-family: questrial;
    font-size: 5vh;
    text-align: center;
    letter-spacing: 15px;
    user-select: none;
    color: #FFB18A;
    width: 100%;
}

.our-team-title-shadow {
    opacity: 0.05;
    position: relative;
    font-size: 10vh;
    letter-spacing: 25px;
    height: fit-content;
}

.our-team-flex-container {
    bottom: 0;
    position: relative;
    width: 80%;
    height: calc(100% - 3vh - 15vh);
    margin-left: 10vw;
}

.our-team-flex {
    height: 100%;
}

.team-group-flex {
    width: 40vw;
    height: 100%;
}

.team-member-flex {
    width: 45vw;
    height: 100%;
    text-align: center;
}

img {
    width: 60%;
}

.team-member-description {
    padding-top: 5px;
    color: white;
    font-family: quicksand-light;
}

.team-member-description div {
    font-family: quicksand-semibold;
}

@media screen and (max-width: 992px) {
    .our-team-title {
        font-size: 3vh;
        position: relative;
    }
    .our-team-title-shadow {
        display: none;
    }
    .our-team-flex-container {
        height: calc(100% - 7vh);
    }
    .our-team-flex {
        flex-direction: column;
    }

    .team-group-flex {
        width: 80vw !important;
        margin-top: 3vh;
    }
}