/* Declaring new font faces */

@font-face {
    font-family: questrial;
    src: url(assets/Questrial-Regular.ttf) format("opentype");
}

@font-face {
    font-family: raleway-bold;
    src: url(assets/Raleway-Bold.ttf) format("opentype");
}

@font-face {
    font-family: raleway-semibold;
    src: url(assets/Raleway-SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: raleway-medium;
    src: url(assets/Raleway-Medium.ttf) format("opentype");
}

@font-face {
    font-family: quicksand-light;
    src: url(assets/Quicksand-Light.ttf) format("opentype");
}

@font-face {
    font-family: quicksand-regular;
    src: url(assets/Quicksand-Regular.ttf) format("opentype");
}

@font-face {
    font-family: quicksand-medium;
    src: url(assets/Quicksand-Medium.ttf) format("opentype");
}

@font-face {
    font-family: quicksand-semibold;
    src: url(assets/Quicksand-SemiBold.ttf) format("opentype");
}

@font-face {
    font-family: quicksand-bold;
    src: url(assets/Quicksand-Bold.ttf) format("opentype");
}

/* adding class to site header */

.custom-header {
    min-height: 105px;
    padding-left: 5%;
    padding-right: 5%;
}

/* adding class to header navbar collapse items */

@media screen and (max-width: 992px) {
    .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
        width: 50%;
        float: right;
    }

    .custom-header {
        min-height: 56px !important;
    }
}

body {
    background-color: #272727;
}