/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: questrial;
    src: url(assets/Questrial-Regular.ttf) format("opentype");
}

.custom-header {
    min-height: 105px;
    padding-left: 5%;
    padding-right: 5%;
}

